extends ../layout/store

block content
  #orders
    .row.header
      .col-xs-6 订单详情
      .col-xs-1 金额
      .col-xs-1 收货人
      .col-xs-2 状态
      .col-xs-2 操作
    .row.list
      - if(orders)
        each o in orders
          table.table.o-item
            thead.o-info
              tr
                th(colspan="5")
                  span.time= moment(o.meta.createAt).format('YYYY/MM/DD HH:mm:ss')
                  span.oid 订单号：#{o._id}
            tbody.oi-info
              tr
                td.col-xs-6
                  each oi in o.oitems
                    .p-info
                      a.img(href='',target='_blank')
                        img(width='60',src='#{oi.product.oriImg}')
                      .info
                        a(href='')= oi.product.name
                        span 单价(￥): #{oi.price}
                      .number x #{oi.number}
                td.col-xs-1= o.amount
                td.col-xs-1= o.receiver
                td.col-xs-2= o.status
                td.col-xs-2
