extends ../layout/student

block content
  .s-store-info
    .media
      .media-left
        a(href="")
          img(src="#{store.avatar==null?'aaa':'bbb'}", alt="#{store.name}")
        p= store.name
      .media-body
        .intro= store.intro
        .phone= store.phone
  .s-search
    .input-group
      input.form-control#inputSearch(placeholder="输入关键字搜索.",required)
      span.input-group-addon#btnSearch(role="button") 搜索
  .row.prolist
    each item in products
      .col-md-3.col-sm-4.col-xs-6
        .thumbnail
          a(target="_blank",href="/product/detail/#{item._id}")
            img(src=item.oriImg)
          .caption
            .row-1.clearfix
              .price ¥#{item.price}
              .sales 销量#{item.sales}
            .row-2
              a(target="_blank",href="/product/detail/#{item._id}")=item.name
  nav#pager(link="store/#{}?",count="#{pageCount}",current="#{pageCurrent}")
block scripts
  script(src="/javascripts/funcs.js")
