extends ../../layout/student

block content
  .s-delivery
    .crumbs
      ol.breadcrumb
        li
          a(href="") 首页
        li
          a(href="") 订单列表
        li.active 评分
    .flowstep
      ol.clearfix
        li
          span 拍下商品
        li
          span 卖家发货
        li
          span 确认收货
        li
          span 评价
    .clearfix.order-info
      .info-block
        .title 订单信息
        .more
          dl
            dt 收货地址：
            dd #{order.receiver},#{order.phone},#{order.addr}
            dt 买家留言：
            dd 请尽快发货。
            dt 订单编号：
            dd= order._id
      .status-block
        .status
          span(class="glyphicon glyphicon-#{order.status>2?'ok-circle':'time'}")
          span.text
            | 订单状态: 
            case order.status
              when 1
                待发货
              when 2
                运输中
              when 3
                已收货
              when 4
                已评价
    form(action="/student/order/comment", method="post")
      .order-gitem
        table.table
          thead
            tr
              th 商品
              th 商品评价
          tbody
            each item in ois
              tr
                td= item.product.name
                td
                  .mark
                    label.radio-inline
                      input(type="radio",name="#{item._id}[mark]",value="1")
                      | 1分
                    label.radio-inline
                      input(type="radio",name="#{item._id}[mark]",value="2")
                      | 2分
                    label.radio-inline
                      input(type="radio",name="#{item._id}[mark]",value="3")
                      | 3分
                    label.radio-inline
                      input(type="radio",name="#{item._id}[mark]",value="4")
                      | 4分
                    label.radio-inline
                      input(type="radio",name="#{item._id}[mark]",value="5")
                      | 5分
                  .comment-form
                    textarea.form-control(name="#{item._id}[comment]", rows="6")
      .order-comment
        .row
          .mark
            span 服务评分
            label.radio-inline
              input(type="radio",name="service",value="1")
              | 1分
            label.radio-inline
              input(type="radio",name="service",value="2")
              | 2分
            label.radio-inline
              input(type="radio",name="service",value="3")
              | 3分
            label.radio-inline
              input(type="radio",name="service",value="4")
              | 4分
            label.radio-inline
              input(type="radio",name="service",value="5")
              | 5分
        .row
          .mark
            span 配送评分
            label.radio-inline
              input(type="radio",name="delivery",value="1")
              | 1分
            label.radio-inline
              input(type="radio",name="delivery",value="2")
              | 2分
            label.radio-inline
              input(type="radio",name="delivery",value="3")
              | 3分
            label.radio-inline
              input(type="radio",name="delivery",value="4")
              | 4分
            label.radio-inline
              input(type="radio",name="delivery",value="5")
              | 5分
        .row
          input(type="hidden", name="oid", value="#{order._id}")
          button.btn.btn-success#submit_comment(type="submit", name="button") 发表评论
    
          
